html {
    background-image: url('img/fon.jpg');
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

@media (max-width: 900px) {   
    html {    
         /* Здесь размер файла уменьшен на 93% чтобы  увеличить скорость загрузки страницы с мобильных устройств */   
            background-image: url('img/fon_small.jpg'); 
            background-repeat: no-repeat;
            /* background-position: center; */
         } }
